<a type="button" class="help-button-canvas" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ?
</a>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                <h3>Règles du jeu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi architecto itaque,
                    officiis quis quod suscipit. Ad aspernatur consequatur dolores ea enim esse explicabo nihil, quidem
                    quis temporibus ullam.</p>

                <h3>Conseils de jeu</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem earum eligendi ullam. Aspernatur
                    consequatur debitis dignissimos dolorum ea hic, ipsa iure labore quasi. Accusamus dicta
                    necessitatibus odio quo ut.
                </p>

            </div>
        </div>
    </div>
</div>