{% macro render_flash_messages() %}
    {% if app.flashes('error') is defined or app.flashes('success') is defined %}
        <div class="flash-container" {{ stimulus_controller('components/flash')}}>
            {% for message in app.flashes('error') %}
                <div class="flash-message flash-danger" >
                    <div class="me-4">{{ message }}</div>

                    <a type="button" data-action="click->components--flash#close">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </a>
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="flash-message flash-success" >
                    <div class="me-4">{{ message }}</div>

                    <a type="button" data-action="click->components--flash#close">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}


{% macro render_toast() %}
    <div id="toast" class="d-none">
        <div id="toast-container">
            <div id="toast-content"></div>
        </div>
    </div>
{% endmacro %}
