@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";

html, .container-fluid {
  height: 100dvh;

  a{
    text-decoration: unset;
    color: unset;

    :hover{
      color: black-rgba(0.8);
    }
  }

  ul{
    display: flex;
    margin: 0;

    li{
      list-style: none;
      padding: 0 0.3em;
    }
  }
}

body{
  min-height: 100dvh;
  padding: 5dvh;
  display: flex;
  flex-direction: column;
  background: $body;
  position: relative;

  .main-box{
    flex-grow: 1;
    gap: 5dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    color: #424648;
  }
}


.fs-7{
  font-size: 0.9rem;
}
