@import "../utils/variables";

.btn-category{
  flex: 1;
  width: 100%;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5dvh;
  background-color: #e9e9e9;
  box-shadow: $main-shadow;
}


.theme0{
  background-color: $theme1;
}

.theme1{
  background-color: $theme2;
}

.theme2{
  background-color: $theme3;
}

.theme3{
  background-color: $theme4;
}