@import "../utils/variables";


.quote-traduction{
  font-style: oblique;
  font-size: 2.7rem;
  display: block;
  line-height: 3.2rem;
  margin-top: 2dvh;
}

.help{
  font-size: 2.5rem;
}

.button-next{
  display: inline-block;
  margin-top: 5dvh;
  border: solid 2px $primary;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  color: #4d5154;
  border-radius: $border-radius;

  &:hover{
    background-color: $primary;
    color: white;
  }
}