<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ siteName }}{% endblock %}</title>
    <meta name="msapplication-TileColor" content="#e3e2e2">
    <meta name="theme-color" content="#e3e2e2">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body {% block body_attribute %} class="scrollbar custom-scrollbar"{% endblock %}>
{% block body %}{% endblock %}
</body>
</html>
