{% extends 'app/_layout.html.twig' %}

{% block title %}{{ siteName }}{% endblock %}

{% block main %}
    {{ form_start(form) }}
        {{ form_rest(form) }}

        <div class="text-center">
            <button class="button-next" >Importer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
