{% extends 'app/_layout.html.twig' %}

{% block title %}{{ siteName }}{% endblock %}

{% block main %}
    {% for key, category in categories %}
        <a href="{{ path('app_question', {'slug' : category.slug}) }}" class="btn-category theme{{ key }}">
            {{ category.name }}
        </a>
    {% endfor %}
{% endblock %}
