{% extends 'app/_layout.html.twig' %}

{% block title %}{{ siteName }}{% endblock %}

{% block main %}
    <p>Il n'y a plus de question dans ce theme.</p>

    <div class="text-center">
        <a href="{{ path('app_home') }}" class="button-next" >Retour</a>
    </div>
{% endblock %}
